[Desktop Entry]
Name=llpp
GenericName=PDF Viewer
Exec=llpp %f
TryExec=llpp
Terminal=false
Type=Application
MimeType=application/pdf;application/x-pdf;application/x-cbz;application/oxps;application/vnd.ms-xpsdocument;image/jpeg;image/pjpeg;image/png;application/epub+zip
Categories=Office;Viewer;Graphics
Actions=View
Version=1.0
[Desktop Action View]
Name=View with llpp
Exec=llpp %f
