body { margin-left: 10%; margin-right: 10%; font-family: gentium plus; }
@font-face {
    font-family: sans-serif;
    src: local("lato")
}
@font-face {
    font-family: serif;
    src: local("charis sil")
}
@font-face {
    font-family: monospace;
    src: local("anonymous pro"), local("anonymous pro minus")
}
