body { margin-left: 10%; margin-right: 10%; font-family: local("unifont"); }
@font-face {
    font-family: sans-serif;
    src: local("pt sans");
}
@font-face {
    font-family: serif;
    src: local("pt astra serif");
}
@font-face {
    font-family: monospace;
    src: local("iosevka malc");
}
