/build/
/build-strap/
/misc/completions/bash/llpp
/misc/completions/bash/llppac
/misc/completions/zsh/llpp
/misc/completions/zsh/llppac
/.gdb_history
/.tramp_history
test/
mupdf
/man/*.xml
/man/*.1
patches/*
